.page-header
	h2 {{title}}

.row
	.col-md-5
		form
			// Text input
			.form-group
				label.control-label(for='name') Name
				input#name.form-control.input-md(name='name', type='text', placeholder='')
			// Text input
			.form-group
				label.control-label(for='email') Email
				input#email.form-control.input-md(name='email', type='text', placeholder='')
			// Textarea
			div.form-group
				label.control-label(for='mesage') Mesage
				textarea#mesage.form-control(name='mesage')

			// Button
			.form-group
				button#send.btn.btn-primary.pull-right(name='send') Send

		h5(style='margin-top:80px')
			p Email :
				b  info@thebookemporium.com
			p Telephone :
				b  01733 898102
			p Fax :
				b  01733 313524

	.col-md-7
		img.img-thumbnail(width='100%',
			src='./bower_components/_contents/images/the_book_emporium_map.png')

