doctype 5

html(ng-app='student-fly')
	head
		meta(charset='UTF-8')
		title
			| The Book Emporium

		link(rel='stylesheet', href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='./bower_components/_contents/studentfly.css')
		link(rel='stylesheet', href='./bower_components/_contents/style.css')
	body
		ol.breadcrumb
			li
				a
					i.glyphicon.glyphicon-earphone
					|  0845 602 4040
			li.pull-right
				a Follow us
				a(href='#', style='margin-left:4px')
					img(width='18', src='./bower_components/_contents/images/facebook.png')
				a(href='#', style='margin-left:4px')
					img(width='18', src='./bower_components/_contents/images/Blogger.png')
				a(href='#', style='margin-left:4px')
					img(width='18', src='./bower_components/_contents/images/Google-Plus.png')
				a(href='#', style='margin-left:4px')
					img(width='18', src='./bower_components/_contents/images/Twitter-Bird.png')

		div.row.clearfix
			div.col-md-12.column.the-book
				nav.navbar.navbar-default(role='navigation')
					div.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#', style='color:white')
							b The Book Emporium
					div#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li.active
								a(ng-href='#') Home
							li
								a(ng-href='#/book-editing') Book Editing
							li
								a(ng-href='#/book-publishing') Book Publishing
							li
								a(ng-href='#/book-sales') Book Sales
							li
								a(ng-href='#/special-offers') Special Offers
							li
								a(ng-href='#/contact') Contact

						ul.nav.navbar-nav.pull-right
							li
								a(ng-href='#/basket') Basket
							li
								a(ng-href='#/account') Login/Register

			//- div.col-md-12.column
				nav.navbar.navbar-default(role='navigation')

					div.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#')
							b FREE UK Delivery


					form.navbar-form.navbar-left(role='search', style='width:400px')
						.form-group
							.input-group
								span.input-group-addon Search
								input.form-control(type='text')
								span.input-group-btn
									button.btn.btn-default(type='button') Go!
							//- input.form-control(type='text', placeholder='Search')
						//- button.btn.btn-default(type='submit') GO

					div#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a(ng-href='#') Login/Register
							li
								a(ng-href='#/book-editing') Basket

		//- #main.content(style='margin-top: 60px')
		.row(style='margin-bottom:100px;')
			.col-md-8.col-md-offset-2
				main(ng-view)

		//- #footer
		//- 	.content
		//- 		label.label.label-youth YouthStd 2014

		script(src='./bower_components/jquery/dist/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.min.js')
		script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')

		script(src='./scripts.js')
		script(src='./templates.js')
