.page-header
	.input-group.col-md-5.pull-right
		input.form-control(type='text')
		span.input-group-btn
			button.btn.btn-success(type='button') Search!
	h2 {{title}}

.row
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/images/img-1.jpg', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/images/img-2.jpg', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/images/img-3.jpg', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/images/img-4.jpg', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/images/img-5.jpg', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/images/img-6.jpg', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/images/img-7.jpg', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/images/img-8.jpg', style='width:180px; height:270px')
