div(ng-controller='basic-cover-ctrl')
	center
		p(style='color: #2867ff; font-size:16px; font-weight:bold')
			| One round of editing =
			span(style='color:red')  1pence
			|  per word
	p In our basic editing service, we make sure that there aren't any glaring errors in your manuscript such as we help you to correct spelling, grammar, punctuation, sentence structure and language usage, and so on.

	//- button.btn.btn-success(ng-click='ok()') ok
