div(ng-controller='bespoke-cover-ctrl')
	center
		p(style='color: #2867ff; font-size:16px; font-weight:bold')
			| You will have to pay for a fully formatted book (the front and back cover, and the spine of the book)
		p(style='color: #2867ff; font-size:16px; font-weight:bold')
			| Our price is set based on the quality and the right of specific designers

	p When we choose this service and our design will help you to do everything .Once you´ve started the book publishing process, you will complete the comprehensive book cover design questionnaire from different designers from our company. So, you will work particularly with a chosen designer and he/she will suggest any changes and necessaries for your requirement. As such, this provides our designers with specific direction for the creation of your two book cover concepts. They can price more expensive based on different the price package and the levels of designers.

	br
	i Here are our specific designers and their contact
	.row(style='margin-top:20px')
		.col-md-6
			div.media
				a.pull-left(href='#/project/detail')
					img.img-circle.media-object(
						src='./bower_components/_contents/designer/dn-1.png', width='100')
				div.media-body(style='padding-top:14px')
					h4.media-heading
						| Jonathan Ive
					span jonathanive@live.com
					br
					span 0845-602-4040

		.col-md-6
			div.media
				a.pull-left(href='#/project/detail')
					img.img-circle.media-object(
						src='./bower_components/_contents/designer/dn-2.jpg', width='100')
				div.media-body(style='padding-top:14px')
					h4.media-heading
						| Christian Louboutin
					span christian@gmail.com
					br
					span 0845-345-9876

		.col-md-6
			div.media
				a.pull-left(href='#/project/detail')
					img.img-circle.media-object(
						src='./bower_components/_contents/designer/dn-3.jpg', width='100')
				div.media-body(style='padding-top:14px')
					h4.media-heading
						| Marc Jacobs
					span m.jacobs@gmail.com
					br
					span 0845-123-7777

		.col-md-6
			div.media
				a.pull-left(href='#/project/detail')
					img.img-circle.media-object(
						src='./bower_components/_contents/designer/dn-4.jpg', width='100')
				div.media-body(style='padding-top:14px')
					h4.media-heading
						| John Galliano
					span john-galliano@gmail.com
					br
					span 0845-986-6579

		.col-md-6
			div.media
				a.pull-left(href='#/project/detail')
					img.img-circle.media-object(
						src='./bower_components/_contents/designer/dn-5.jpg', width='100')
				div.media-body(style='padding-top:14px')
					h4.media-heading
						| ALEX-BRADLEY
					span ALEX-BRADLEY@gmail.com
					br
					span 0845-986-6579

		.col-md-6
			div.media
				a.pull-left(href='#/project/detail')
					img.img-circle.media-object(
						src='./bower_components/_contents/designer/dn-6.jpg', width='100')
				div.media-body(style='padding-top:14px')
					h4.media-heading
						| David Sanderson
					span david-sanderson@gmail.com
					br
					span 0845-986-6579
