div(ng-controller='customized-cover-ctrl')
	center
		p(style='color: #2867ff; font-size:16px; font-weight:bold')
			span(style='color:red') *Free
			|  Original cover design concepts for your book*
		p(style='color: #2867ff; font-size:16px; font-weight:bold')
			| Two rounds of editing =
			span(style='color:red')  £100
			|  up to 10,000 words included
	p First we create two completely original book cover design concepts for your book.  Then we work with you to make up to 2 rounds of revisions on the book cover design and provide two unique book cover design concepts will be ready for your review. Once you approve the final book cover design, you own the book cover layout and all of the art work. This gives you the freedom to do anything you want with and you own 100% of the book cover design and layout.

.row(style='margin-top:20px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-1.png', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-2.png', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-3.png', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-4.png', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-5.png', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-6.png', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-7.png', style='width:180px; height:270px')
	.col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-8.png', style='width:180px; height:270px')
	//- .col-md-3
		a.thumbnail(href='')
			img(src='./bower_components/_contents/design/d-9.png', style='width:180px; height:270px')
