.page-header
	ul.nav.nav-pills.pull-right
		li
			a(ng-href='#/book-editing', ng-click='change("basic-cover.jade")')
				| Basic Book Cover
		li.active
			a(ng-href='#/book-editing', ng-click='change("customized-cover.jade")')
				| Customized Book Cover Design
		li
			a(ng-href='#/book-editing', ng-click='change("bespoke-cover.jade")')
				| Bespoke Book Cover Design

	h2 {{title}}

div(ng-include='template')
